<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar Alumno
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TTab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #agregarAlumno = "ngForm" (ngSubmit)="onSubmit(agregarAlumno)" ngNativeValidate>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-input placeholder="Nombre" [(ngModel)]="nombre" name="fist" class="texto_input" required></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-input placeholder="Apellido" [(ngModel)]="apellido" name="a" class="texto_input" required></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-input placeholder="Matricula" [(ngModel)]="matricula" name="3" class="texto_input" type="number" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="!cambio">
          <div>
            <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"></webcam>
          </div>
        </ion-col>
        <ion-col *ngIf="cambio">
          <div *ngIf="webcamImage">
            <img [src]="webcamImage.imageAsDataUrl"/>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="!cambio">
        <ion-col>
          <ion-button (click)="triggerSnapshot();"><ion-icon name="camera-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="cambio">
        <ion-col>
          <ion-button (click)="triggerSnapshot();">Tomar otra foto</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngIf="cambio">
          <ion-button type="submit" size="4">Agregar Alumno</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
